autopep8
astropy
beautifulsoup4
black
bokeh
flake8
lxml
patsy
psutil
pylint
plotly
requests
statsmodels  
simplejson      
yapf      
nolds 
pynamical 
PyRQA 
pyts 
hundun  
AutoTS 
Sktime 
tsfresh 
fastai
tsai
prophet